extends ../layouts/layout.pug

block content 
  .container.wraper
    include ../includes/header.pug
    section.section.subheading-section
      .container
        .row.justify-content-center
          .col-12.col-md-8
            h2 main page here