extends ../layouts/layout.pug

block content 
  .container.wraper
    include ../includes/header.pug
    section.section.subheading-section
      .container
        .row.justify-content-center
          .col-12.col-md-8
            h2.text-center.heading-text Skaliere Dein Netzwerk mit isa
            p.text-center.subhead-paragrph
              | Treffe und verbinde Dich mit Experten-Persönlichkeiten aus der Dienstleistungsbranche und
              | diskutiere auf exklusiven Events die aktuellen Herausforderungen für die Zukunft.
            p.text-center.subhead-paragrph
              | isa verbindet und verknüpft Dich aktiv mit Experten diverser Dienstleistungsbranchen rund um
              | Unternehmen und Private Clients und bewirtschaftet deren Netzwerke. isa macht ihre Mitglieder
              | fit, die zukünftigen Herausforderungen gut zu meistern.
              | Inner Circle Mitgliedschaft - das isa Herzstück
    section.section.with-columns-section
      .container
        .row.justify-content-center
          .col-12.col-md-10
            h3.text-center.heading-text Inner Circle Mitgliedschaft - das isa Herzstück
        .row
          .col-12.col-lg-4
            .row.justify-content-center.justify-content-md-start
              .col-3
                img.article-icon.default-image(src='./img/icon-1.png', alt='column-icon')
              .col-9.col-text
                h4.column-heading Unternehmer
                div
                  | Verbinde Dich mit anderen Unternehmer-Persönlichkeiten, teile Dein Wissen und Deine Erfahrungen. Skaliere Dein Netzwerk, indem Du dieses mit den anderen Mitgliedern verbindest und professionell, nachhaltig durch isa bewirtschaften lässt.
          .col-12.col-lg-4
            .row.justify-content-center.justify-content-md-start
              .col-3
                img.article-icon.default-image(src='./img/icon-2.png', alt='column-icon')
              .col-9.col-text
                h4.column-heading Think Tank
                div
                  | Was sind die Herausforderungen in der Zukunft? Ist mein  Dienstleistungsunternehmen fit für die Zukunft? Schaue über den Tellerrand, gestalte Deine unternehmerische Zukunft aktiv und diskutiere mit anderen Persönlichkeiten interessante Themen an exklusiven Inner Circle Events.
          .col-12.col-lg-4
            .row.justify-content-center.justify-content-md-start
              .col-3
                img.article-icon.default-image(src='./img/icon-3.png', alt='column-icon')
              .col-9.col-text
                h4.column-heading Internationale isa Events
                div
                  | Als ein Inner Circle Mitglied gestaltest Du bei den isa Events inhaltlich mit, positionierst Dich fachlich falls gewünscht und hast Deinen festen Platz als exklusiver Teilnehmer an den innovativen, internationalen isa Events auf sicher - gebührenfrei!
    section.section.events-section
      .container
        .row
          .col-12.col-md-8
            h3.heading-text Das isa Netzwerk: die tragende Mitglieder-Basis
          .col-12.col-md-4
            h3.heading-text isa Events
        .row
          .col-12.col-md-8
            img.default-image(src='./img/event-main-img.jpg', alt='isa event')
            .event-text
              | Bist Du isa Event-Teilnehmer oder hast Du als Experte beim isa Event referiert? Dann werde
              | Mitglied beim exklusiven isa Netzwerk und positioniere Dich und Dein Unternehmen im isa
              | Expertennetzwerk. Profitiere vom Wissenspool, der Netzwerk-Dynamik, den Business-Freundschaften und natürlich von diversen Vergünstigungen!
            a.btn.register-button(href='/apply-member') Anmeldung
          .col-12.col-md-4
            a(href='/img/isaEinladungOffenburg.pdf')
              .event-card
                .event-date
                  | 10
                  br
                  span JUN
                .event-shadow
                  .event-shadow-inner
                    | Der künstliche Berater.
                    br
                    | Wie AI uns überfüssig macht!
                    .event-shadow-cal 10-12 Juni 2018
            a(href='/kongress')
              .event-card(style='background-image: url(./img/event-2.png); background-size: cover;')
                .event-date
                  | 20
                  br
                  span SEP
                .event-shadow
                  .event-shadow-inner
                    | isa Mallorca Kongress 2018
                    .event-shadow-cal 20-22 September 2018
  section.container.section.map
    iframe.google-map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2722.6891167451895!2d8.35404659448222!3d46.96779786854125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ff76b4c8b7221%3A0x17b995ac38a692f6!2zU3RhbnNzdGFkZXJzdHJhc3NlIDkwLCA2MzcwIFN0YW5zLCDQqNCy0LXQudGG0LDRgNC40Y8!5e0!3m2!1sru!2sua!4v1527602120910', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')