header.site-header
  nav.navbar.navbar-expand-lg.navbar-dark.header-nav
    a.navbar-brand.logo(href='/')
      img(src='./img/logo.svg', alt='site logo')
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item(class= route === 'network' ? 'active' : '')
          a.nav-link.links(href='/network') Network
        li.nav-item(class= route === 'circle' ? 'active' : '')
          a.nav-link.links(href='/circle') Inner circle
        li.nav-item(class= route === 'events' ? 'active' : '')
          a.nav-link.links(href='/events') Events
        li.nav-item(class= route === 'about' ? 'active' : '')
          a.nav-link.links(href='/about') Über uns
        li.nav-item.login-button
          a.nav-link.links.login-popover(href='#', data-placement='bottom', data-container='body', data-toggle='popover', data-content='Login available soon. Stay tuned.') Login
  .container
    h1.header-text-big
      | Empower
      br
      | your network